.user-footer{
    width: 100%;
    height: 270px;
    background: #2A2A2A;
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer-title{
    color: white;
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bolder;
}

.footer-logo-text{
    font-family: 'Poppins', Arial, sans-serif;
    font-weight: bolder;

}

.footer-list{
    color:rgba(252, 249, 249, 0.216);
    list-style-type: none;
    font-family: 'Poppins', Arial, sans-serif;
    position: relative;

}

.quick-link, .legal, .help{
    padding-left: 30px;
}

.list-style{
    padding-bottom: 10px;
}

/* .each-div{
    height: 500px;
    width: 300px;
} */

.help-div{
margin-bottom: 60px;}